.App {
  text-align: center;
}

.App-header {
  background-color:#1c2e5c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Link {
  color: #61dafb;
  text-decoration-line: underline;
  text-decoration-style: decoration-solid;
}

.Contact-header {
  background-color:#1c2e5c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Projects-header {
  background-color:#1c2e5c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  color: white;
}
